@page
@model mini_big_mammas_pizzaria.Pages.AddNewPizza.IndexModel
@{
}
<h1>Tilføj ny Pizza til PizzaMenukort</h1>


<form method="post">
    <div class="form-group>">
        <label>Pizza Nummer</label><br />
        <input class="form-control" asp-for="@Model.NytPizzaNummer" /><br />

        <label>Pizza Navn</label><br />
        <input class="form-control" asp-for="@Model.NytPizzaNavn" /><br />
        <span asp-validation-for="@Model.NytPizzaNavn" class="text-danger"></span><br />


        <label>Pizza Pris</label><br />
        <input class="form-control" asp-for="@Model.NyPris" /><br />

        <label>Pizza Topping</label><br />
        <input class="form-control" asp-for="@Model.NyDescription" /><br />

        <input type="submit" value="Opret Ny Pizza" class="btn btn-success" />
    </div>
</form>